.item {
  width: 200px;
  height: 240px;
  border-radius: 30% 5%; /* 4% 50% / 10% 10%; */
  flex-basis: 240px;
  margin: 5px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  box-shadow: 5px 8px 12px 1px rgb(0 0 0 / 50%);
  transition: all ease-in-out 500ms;
}

.item .fa-circle-trash {
  position: absolute;
  bottom: 0;
  left: 0;
}

.item:hover {
  transform: scale(1.05);
}

.item:hover > div[class="btn"] {
  opacity: 1;
  transition: all ease-in-out 1s;
}

.item:hover > div[class="gradient-cover"] {
  opacity: 0.85;
}

.item:hover > .content {
  transform: scale(1.04);
}

.item:hover > .content > h2 {
  filter: drop-shadow(0 0 4px rgb(182, 133, 142));
}

.background-image {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
}

.background-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: inherit;
  transition: all ease-in 2s;
}

.item:hover > .background-image > img {
  transform: scale(1.05);
}

.content {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 45%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0rem;
  transition: all ease-in-out 500ms;
}

.content > h2 {
  color: rgb(170, 166, 166);
  filter: drop-shadow(0 0 4px rgb(27, 27, 27));
  text-transform: uppercase;
  letter-spacing: 1px;
  word-wrap: break-word;
  max-width: 85%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: all ease-in-out 500ms;
}

.content > h3 {
  color: rgb(170, 166, 166);
  filter: drop-shadow(0 0 4px rgb(27, 27, 27));
  letter-spacing: 2px;
  font-weight: 500;
  transition: all ease-in-out 500s;
}

.like-dislike {
  position: absolute;
  z-index: 3;
  top: 65%;
  width: 100%;
}

.gradient-cover {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-image: linear-gradient(
    to bottom,
    rgb(255, 178, 42, 6%) 0%,
    rgba(33, 33, 32, 0.8) 40%,
    rgba(33, 33, 32, 1) 100%
  );
  transition: all ease-in-out 500ms;
}

.modal {
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all ease-in-out 500ms;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: #fff176;
  box-shadow: inset 0px 0px 80px 10px rgb(0 0 0);
}
